* {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f3f1ff;
  font-family: "Poppins", sans-serif;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap");
/* Common CSS */

/* CSS Style for Header  */
header {
  display: flex;
  justify-content: center;
  background-color: #fff72e;
}
.header__container {
  width: 870px;
  display: flex;
  justify-content: space-between;
  height: 94px;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
}
.logo h1 {
  margin-left: 15.58px;
  font-weight: 500;
  font-size: 24px;
  color: black;
}
header .logo img {
  width: 40.42px;
  height: 51px;
}
header img {
  width: 51px;
  height: 51px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  color: black;
  text-decoration: none;
  margin-right: 36px;
  font-weight: 500;
}
.hero__section {
  width: 870px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text {
  width: 870px;
  display: flex;
  flex-direction: column;
  justify-items: right;
  margin-top: 12vmin;
}

/* Contaienr Section  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 870px;
  padding: 30px;
  background-color: white;
  margin-top: 36px;
  border-radius: 5px;
  margin-top: -100px;
  margin-bottom: 150px;
}
.top__players > h1,
.latest__courses > h1,
.top__blogs > h1 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffc014;
  margin-bottom: 35px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player h2 {
  margin-left: 16px;
  font-weight: 500;
  font-size: 18px;
}
.span__hr {
  height: 0.5px;
  margin: 30px 31.5px;
  background-color: #d1d1d1;
}
/* Styles for Blog */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 20px;
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog:first-child {
  grid-column-start: 1;
  grid-column-end: -1;
}
.blog:first-child img {
  width: 363.08px;
  height: 240px;
}
.blog a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  width: 90px;
  border-radius: 7px;
  margin-top: 5px;
  background-color: #ffdc50;
}
.blog__data {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.blog__title {
  font-weight: 500;
  font-size: 20px;
}
/* Course Style  */

.course {
  width: 252.42px;
  padding: 11px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course img {
  width: 251px;
  height: 116.53px;
}
.course h1 {
  font-weight: 500;
  font-size: 20.0336px;
  color: #1e1e1e;
  margin-bottom: 5px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.course__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  color: #ffc014;
}
.emp {
  color: #6b3b3b;
}
.duration {
  display: flex;
  align-items: center;
  background-color: #ffe4e8;
  border-radius: 14.6913px;
  padding: 5px;
  color: #ff4a60;
}
.duration i {
  margin-right: 3px;
}
.containerlast {
  margin-bottom: 0px;
}
/* Some Styles for Footer  */
footer p {
  margin: 50px;
}
footer p > a {
  text-decoration: none;
  color: #ffc014;
}

/* Codes For Responsiveness  */
@media only screen and (max-width: 688px) {
  .blog:first-child img {
    width: 100%;
    height: 200px;
  }
  .blog__data a {
    margin: auto;

    margin-top: 10px;
  }
  .hero__section {
    display: none;
  }
  .header__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 94px;
    margin-bottom: 94px;
  }

  .header__container nav {
    display: none;
  }
  .top__players > h1,
  .latest__courses > h1,
  .top__blogs > h1 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    margin-bottom: 35px;
  }
  /* Codes for top player section */
  .container {
    width: 100vw;
    padding: 0;
  }
  .top__players {
    margin: 5%;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 29px;
    justify-items: center;
  }
  .player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* code for top blog section  */
  .blogs {
    grid-template-columns: repeat(1, 1fr);

    justify-content: center;

    margin: 5%;
  }
  .blog {
    display: flex;
    margin: 5%;
    /* justify-content: center; */
    flex-direction: column;
  }

  .blog img {
    margin: auto;
  }
  .blog__data {
    text-align: center;
  }

  /* for Course  */
  .courses {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .top__blogs > h1 {
    padding-top: 35px;
  }
  .course {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .hero__section {
    align-content: center;
  }
  .hero__text {
    width: 80vw;
    display: flex;
    justify-content: center;
  }

  .blog__data a {
    margin: auto;
    margin-top: 10px;
  }
  .header__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 94px;
  }
  /* top player part  */
  .top__players > h1,
  .latest__courses > h1,
  .top__blogs > h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    margin-bottom: 35px;
  }
  /* Codes for top player section */
  .container {
    width: 80vw;
    padding: 0;
  }

  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 29px;
    margin: 5%;
  }
  .player {
    display: flex;
    align-items: center;
  }

  /* code for top blog section  */
  .blogs {
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;

    margin: 5%;
  }
  .blog {
    display: flex;
    margin: 5%;
    /* justify-content: center; */
    flex-direction: column;
  }
  .top__blogs > h1 {
    margin-left: 5%;
  }
  .blog img {
    margin: auto;
  }
  .blog__data {
    text-align: center;
  }

  /* for Course  */
  .courses {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .top__blogs > h1 {
    padding-top: 35px;
  }
  .course {
    margin-bottom: 25px;
  }
}
